
@{
    ViewData["Title"] = "Entrevistas";
    Layout = "_LayoutCOORDINADOR";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Entrevistas.</h1>
        </div>
        <div class="col">
            <br />
            <a href="/Administrador/Login"><h4 class="text-right">Cerrar sesión.</h4></a>
        </div>
    </div>
</div>


<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('');
        height: 100px;
  "></div>

    <center><div class="container card mx-4 mx-md-5 shadow-5-strong" style="
        position: relative;
        bottom: 25px;
        background:#343A40;
        backdrop-filter: blur(30px);
        ">
        <form>



            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <br />
                    </div>
                    <br />
                </div>



                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">   
                        <label class="form-label text-white" for="buscarestudiantetxt">Buscar estudiante:</label> <br />
                        <input type="text" id="buscarestudiantetxt" class="form-control" required />
                    </div>
                    <br />
                </div>
                <!-- ACABAN LOS CAMPOS -->





                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <br />
                    </div>
                    <br />
                </div>
            </div>
        </form>

    </div> <br /></center>

    <button class="btn btn-lg px-5 text-white" type="submit" style="background-color:#343A40">Buscar estudiante</button>

</section>


<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('');
        height: 100px;
  "></div>
    <br />
    <br />



    <center><div class="container card mx-4 mx-md-5 shadow-5-strong" style="
        position: relative;
        bottom: 25px;
        background:#343A40;
        backdrop-filter: blur(30px);
        ">
        <form>

            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="nombretxt">Nombre:</label> <br />
                        <input type="text" id="nombretxt" class="form-control" required />
                    </div>
                    <br />
                </div>



                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="primerapellidotxt">Primer Apellido:</label> <br />
                        <input type="text" id="primerapellidotxt" class="form-control" required/>
                    </div>
                    <br />
                </div>
                <!-- ACABAN LOS CAMPOS -->





                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="segundoapellidotxt">Segundo Apellido:</label> <br />
                            <input type="text" id="segundoapellidotxt" class="form-control" required>
                    </div>
                    <br />
                </div>
            </div>
        </form>




        <form>



            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="programatxt">Programa:</label> <br />
                        <input type="text" id="programatxt" class="form-control" />
                    </div>
                    <br />
                </div>



                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="documentotxt">Número de documento:</label> <br />
                        <input type="text" id="documentotxt" class="form-control" />
                    </div>
                    <br />
                </div>
                <!-- ACABAN LOS CAMPOS -->





                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                         <br />
                    </div>
                    <br />
                </div>
            </div>
        </form>

    </div> <br /></center>

        <button class="btn btn-lg px-5 text-white" type="submit" style="background-color:#343A40">Ingresar</button>
        <button class="btn btn-lg px-5 text-white" type="submit" style="background-color:#343A40">Volver</button>

</section>


