
@{
    ViewData["Title"] = "ReporteCoordinador";
    Layout = "_LayoutCOORDINADOR";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Reportes coordinador.</h1>
        </div>
        <div class="col">
            <br />
            <a href="/Administrador/Login"><h4 class="text-right">Cerrar sesión.</h4></a>
        </div>
    </div>
</div>

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('');
        height: 100px;
  "></div>

    <center><div class="container card mx-4 mx-md-5 shadow-5-strong" style="
        position: relative;
        bottom: 25px;
        background:#343A40;
        backdrop-filter: blur(30px);
        ">
        <form>



            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="selectdocumento">Seleccione su tipo de documento:</label> <br />
                        <select id="selectdocumento" class="custom-select">
                            <option value="cedula">Cédula de ciudadanía.</option>
                            <option value="extranjeria">Cédula de extranjería.</option>
                            <option value="identidad">Tarjeta de identidad.</option>
                            <option value="pasaporte">Pasaporte.</option>
                        </select>
                    </div>
                    <br />
                </div>



                <!-- INICIO DE LOS CAMPOS -->
                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <br />
                    </div>
                    <br />
                </div>
                <!-- ACABAN LOS CAMPOS -->





                <div class="col-md-4 mb-4">
                    <div class="form-outline">
                        <label class="form-label text-white" for="documentotxt">Número de documento</label> <br />
                        <input type="text" id="documentotxt" class="form-control" required />
                    </div>
                    <br />
                </div>
            </div>
        </form>

        <center>
            <table class="table table-bordered table-striped" style="background-color: white">
                <br />
                <tr>
                    <td>Nombre</td>
                    <td>Primer Apellido</td>
                    <td>Segundo Apellido</td>
                    <td>Género</td>
                    <td>Programa</td>
                    <td>Rol</td>
                    <td>Correo</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </center>


    </div> <br /></center>

    <button class="btn btn-lg px-5 text-white" type="submit" style="background-color:#343A40">Generar reporte</button>

</section>